#maze-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
  /* overflow: hidden; */
  /* gap: 30px; */
  padding: 30px;
}

#maze-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
  overflow: hidden;
  z-index: 1;
}
